
<h3>Orações</h3>
<hr>
<div class="card">
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Número</th>
          <th>Data</th>
          <th>Nome</th>
          <th>Tipo de Oração</th>
          <th>Pedido</th>
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oracao of oracoes | async" >
          <!-- <th scope="row">{{pedido.key}}</th>
          <td>{{ pedido.numero }}</td>
          <td>{{ pedido.data }}</td>
          <td>{{ getStatusNome(pedido.status) }}</td>
          <td>{{ pedido.usuarioNome }}</td>
          <td>{{ pedido.total | currency:'BRL' }}</td> -->
          <td class="edit">
            <a class="btn btn-light" role="button" [routerLink]="['/pedidos/detalhe', pedido.key]"><i class="fas fa-info"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
