<p>
  dizimista
</p>


<!-- <h3>Contatos</h3>
<hr>
<div class="card">
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr> -->
          <!-- <th scope="col">#</th> -->

          <!-- <th scope="col">Usuario</th> -->
          <!-- <th scope="col">Usuario</th>
          <th scope="col">Email</th>
          <th scope="col">Mensagem</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody *ngFor="let contato of contatos"> -->
            <!-- <tr *ngFor="let c of contato"></tr> -->
            <!-- <td>{{  contato.usuario_nome }}</td>
            <td>{{  contato.usuario_email }}</td>
            <td>{{  contato.texto }}</td>


            <td class="delete">
              <button class="btn btn-danger" (click)="remover(contato.key)"><i class="far fa-trash-alt"></i></button>
            </td> -->
          <!-- </tr> -->
      <!-- </tbody>
    </table>
  </div>
</div> -->
